
body{
    margin: 0;
    background-color: #ecebd8;
    font-family: segoe ui;
}

.antigua-container {
    width: 75%;
    height: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid rgb(164, 158, 158);
    margin-left: 10%;
    padding: 24px;
    border-radius: 16px;
    background: linear-gradient(#ccc, #fff, rgba(255,155,144, 0.5)); /* <-- add this line */
}

.atitlan-container {
    margin-top: 30px;
    width: 75%;
    height: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid rgb(164, 158, 158);
    margin-left: 10%;
    padding: 24px;
    border-radius: 16px;
    background: linear-gradient(#ccc, #fff, rgba(113, 179, 230, 0.5)); /* <-- add this line */
}

img#antigua {
    width: 350px;
    height: 248px;
    border-radius: 16px;
}

img#atitlan {
    width: 350px;
    height: 248px;
    border-radius: 16px;
}

h1 {
    text-align: center;
}

p {
    font-family: segoe ui;
    font-size: 18px;
}

